Package: com.tzn5web.vancedioscore
Name: VancedIOSCore
Version: 0.2.0
Architecture: iphoneos-arm
Description: Vanced-style defaults and integration layer for a user-supplied YouTube iOS app
Maintainer: tzn5-web
Author: tzn5-web
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 15.0)
